@model IEnumerable<ShopDTDD.Models.tb_HoaDon>

@{
    ViewBag.Title = "DanhSachChuaDuyet";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>DanhSachChuaDuyet</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuyetDH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    using (Html.BeginForm("DuyetDonHang", "Admin", new { @madh = item.MaHD }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
        <td>
            <button type="submit" value="" title="Duyệt đơn hàng" class="fa fa-check btn btn-success btn-sm" />
        </td>
        <td></td>
    </tr>
    }
}

</table>
