<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/MENU2.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
 
    <!-- header-bottom-->
    
    <div class="header-bot">
        <!-- logo -->
        <nav role='navigation'>
            <a href="~/TrangChu/Index" class="hub">
                <span contenteditable="true">H2K</span>
                <span contenteditable="true">Hub</span>
            </a>

            <ul>
                <li><a href="~/TrangChu/Index">Trang Chủ</a>
                <li>
                    <a href="#">Danh Mục</a>
                    <ul style="background:none; border-radius:4px">
                        @Html.Action("DanhMuc", "TrangChu")
                    </ul>
                <li>
                    <a href="~/LienHe/Index">Liên Hệ</a>
                </li>

                <li><a href="#">Giới Thiệu</a></li>
                <li>
                <li>
                    <a href="#" style="">Giỏ Hàng @if (Session["SoHang"] != null)
                    {<span style="color:red"> @Session["SoHang"]</span>}
                    else {<span style="color:red">0</span> }
                    </a>
                    <ul  style="border-color:none">
                        <div class="list-group" style="width:200px">
                            @if (Session["TaiKhoanKH"] != null)
                            {
                                <li style="background-color:#e3e3e3; color:#888;">Xin Chào: @Session["UserKH"].ToString() </li>

                                <li> <a href="@Url.Action("DangXuat","Home")" style="background-color:#e3e3e3; font-size:14px; text-align:left; color:red;">Đăng Xuất </a></li>

                                <li>
                                    <a href="@Url.Action("GioHang","GioHang")" style="background-color:#e3e3e3; color:#888;">
                                        <img src="~/images/giohang.png" style="max-height:50px; max-width:50px" /> Giỏ Hàng
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a style="background-color:#e3e3e3; color:#888;" href="/Home/DangKy">Dang Ky</a>
                                </li>
                                <li>
                                    <a style="background-color:#e3e3e3; color:#888;" href="/Home/DangNhap">Dang Nhap</a>
                                </li>

                            }

                        </div>
                    </ul>
                <li>

                   

                </ul>
        </nav>
        <div class="col-cd-3 logo_agile">
           
        </div>
        <!-- //logo -->




    </div>


    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <!-- //navigation -->
    <!-- banner -->
    <!-- //banner -->
    <!-- top Products

    <!-- //top products -->
    <!-- middle section -->
    <div class="join-w3l1 py-sm-5 py-4" >
        <div class="container py-xl-4 py-lg-2">
            <div class="container">
                <div class="row">

                    <div class="center-me">
                        @RenderBody()
                    </div>
                </div>
            </div>


            <!-- /.container -->
            <div class="container">
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; H2K- 2019 – http://www.xxx.net</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



</body>
            
</html>
<!-- //copyright -->
<!-- js-files -->
<!-- jquery -->
<script src="~/js/jquery-2.2.3.min.js"></script>
<!-- //jquery -->
<!-- nav smooth scroll -->
<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
</script>
<!-- //nav smooth scroll -->
<!-- popup modal (for location)-->
<script src="~/js/jquery.magnific-popup.js"></script>
<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
</script>
<!-- //popup modal (for location)-->
<!-- cart-js -->
<script src="~/js/minicart.js"></script>
<script>
		paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
</script>
<!-- //cart-js -->
<!-- password-script -->


<!-- //password-script -->
<!-- scroll seller -->
<script src="~/js/scroll.js"></script>
<!-- //scroll seller -->
<!-- smoothscroll -->
<script src="~/js/SmoothScroll.min.js"></script>
<!-- //smoothscroll -->
<!-- start-smooth-scrolling -->
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>
<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- for bootstrap working -->
<script src="~/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- //js-files -->
<!-- Page Content -->


