@model IEnumerable<ShopDTDD.Models.tb_HoaDon>

@{
    ViewBag.Title = "DanhSachHoaDon";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Hóa Đơn</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    using (Html.BeginForm("XoaHoaDon", "Admin", new { madh = item.MaHD }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
        <td>
            
            @Html.ActionLink("Details", "DetailsHD", new { id = item.MaHD }) 
            @Html.ActionLink("Delete", "XoaHoaDon", new { madh = item.MaHD })
            
        </td>
    </tr>
    }
}

</table>
