@model IEnumerable<ShopDTDD.Models.tb_CTHD>

@{
    ViewBag.Title = "MatHangHD";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>MatHangHD</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaHH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        
    </tr>
}

</table>
