
@using ShopDTDD.Models
@using PagedList.Mvc;
@model PagedList.PagedList<ShopDTDD.Models.tb_HangHoa>

@{
    ViewBag.Title = "SPTheodanhmucAD";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuong)
        </th>
        <th></th>
    </tr>

    @foreach (var itemx in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemx.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemx.TenHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemx.GiaBan)
            </td>
            <td>

                <img src="~/images/@Html.DisplayFor(modelItem => itemx.HinhAnh)" width="100" height="100" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => itemx.MoTaSP)

            </td>
            <td>
                @Html.DisplayFor(modelItem => itemx.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "SuaSP", new { id = itemx.MaHH }) |
                @Html.ActionLink("Details", "DetailsSP", new { id = itemx.MaHH }) |
                @Html.ActionLink("Delete", "XoaSP", new { id = itemx.MaHH })
            </td>
        </tr>
    }
</table>
@* Tao liên kết các trang  *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang" style="display:inline">

    @Html.PagedListPager(Model, page => Url.Action("SPTheodanhmucAD", new { page = page }))


</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>
